[submodule "EQCUT/EQCUT-Matlab-Code"]
	path = EQCUT/EQCUT-Matlab-Code
	url = git@github.com:CaglarAytekin/EQCUT-Matlab-Code.git
[submodule "MBS/MBS"]
	path = MBS/MBS
	url = git@github.com:jimmie33/MBS.git
